<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>Ircious - {{ object.title }}</title>
    <link rel="self" href="http://ircious.flukkost.nu/slug/{{ object.slug }}/feed/{% if page %}{{ page }}{% endif %}"/>
    <link rel="alternate" type="application/xhtml+xml" href="http://ircious.flukkost.nu/slug/{{ object.slug }}/{% if page %}{{ page }}{% endif %}"/>
    <link rel="via" href="{{ object.url }}"/>
    <updated>{{ lastdate|date:"Y-m-d\TH:i:s\Z" }}</updated>
    <author>
        <name>Ircious - {{ object.title|escape }}</name>
    </author>
    <id>http://ircious.flukkost.nu/slug/{{ slug }}/feed/{% if page %}{{ page }}{% endif %}</id>

    {% for post in object_list %}
    <entry>
        <title>{{ post.link.title|escape }}</title>
        <link href="http://ircious.flukkost.nu/slug/{{ post.link.slug }}"/>
        <id>http://ircious.flukkost.nu/{{ post.pk }}</id>
        <updated>{{ post.date|date:"Y-m-d\TH:i:s\Z" }}</updated>
        <summary>{{ post.comment|escape }}</summary>
        <author>
            <name>{{ post.user.nick_set.get.nickname }}</name>
        </author>
    </entry>
    {% endfor %}
</feed>
