{% load misc %}
    <div class="post">
        <div class="header">
            <div class="title">
                <h4>
                    <a href="{{ post.link.url|fix_ampersands }}">{{ post.link.title|escape }}</a>
                {% if openid %}
                    <svg width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" version="1.1">
                        <g>
                            <g id="fav{{ post.id }}n" display="{% if post.is_faved %}none{% else %}inline{% endif %}">
                                <path class="not-selected" d="M9,2 L11,7 17,7 12,11 14,17 9,13 4,17 6,11 1,7 7,7Z" onclick="setFavourite(this)" xhtml:title="Add to your favourites"/>
                            </g>
                            <g id="fav{{ post.id }}s" display="{% if post.is_faved %}inline{% else %}none{% endif %}">
                                <path class="selected" d="M9,2 L11,7 17,7 12,11 14,17 9,13 4,17 6,11 1,7 7,7Z" onclick="setFavourite(this)" xhtml:title="Remove from your favourites"/>
                            </g>
                        </g>
                    </svg>
                    {% ifequal openid post.user %}
                    <a href="/{{ post.id }}/edit/" title="Edit this post">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="18" height="18" viewBox="-1 -1 11 17">
                            <path d="M0,0 L10,0 L10,3 L3,3 L3,6 L7,6 L7,9 L3,9 L3,13 L10,13 L10,16 L0,16Z" style="fill:#73d216;stroke:#162904;stroke-width:1"/>
                        </svg>
                    </a>
                    <a href="/{{ post.id }}/delete/" title="Delete this post">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="18" height="18" viewBox="-1 -1 17 17">
                            <path d="M3,0 L8,6 L13,0 L16,3 L10,8 L16,13 L13,16 L8,10 L3,16 L0,13 L6,8 L0,3 L3,0" style="fill:#cc0000;stroke:#3e0000;stroke-width:1"/>
                        </svg>
                    </a>
                    {% endifequal %}
                {% endif %}
                </h4>
                <p>{{ post.link.url|urlizetrunc:50|fix_ampersands }}</p>
            </div> <!-- .title -->
            <div class="posterinfo">
                {% if post.user.email %}<div class="gravatar"><img src="http://www.gravatar.com/avatar.php?gravatar_id={{ post.user.email|md5 }}&amp;default=http%3A%2F%2Fmedia.flukkost.nu%2Fpix.gif" alt=""/></div>{% endif %}
                <p>
                    <a href="/user/{{ post.user.nick_set.get.nickname }}">{{ post.user.nick_set.get.nickname }}</a>
                </p>
                <p>
                    <a href="/channel/{{ post.channel|strip:"#" }}">{{ post.channel }}</a>
                </p>
                <p><time title="GMT" datetime="{{ post.date|date:"Y-m-d\TH:i:s\Z" }}">{{ post.date }}</time></p>
                <div class="clear"></div>
            </div> <!-- .posterinfo -->
            <div class="clear"></div>
        </div> <!-- .header -->
        <div class="content">
            <div class="screenshot">
            {% if post.link.screenshot %}<img src="{{ post.link.screenshot|fix_ampersands }}" alt=""/>{% endif %}
            </div>
            <div class="text">
                {% if post.comment %}<p>{{ post.comment|escape|urlizetrunc:50}}</p>{% endif %}
                <p><a href="/slug/{{ post.link.slug }}">More {% ifnotequal post.link.linkpost_set.count 1 %}({{ post.link.linkpost_set.count }} comments){% endifnotequal %}</a></p>
            </div> <!-- .text -->
            <div class="clear"></div>
        </div> <!-- .content -->
        <div class="clear"></div>
    </div>
