body {
    margin: 0px;
    background: #3465a4;
    font-family:luxi sans,trebuchet ms,bitstream vera sans,sans-serif;
}

img {
    border: 0;
}

a {
    color: #204a87;
}

h1, h2, h3, h4, h5, h6 {
    font-family:luxi serif,georgia,times new roman,times,serif;
}

div#sidebar {
    float: right;
    overflow: hidden;
    width: 30ex;
    padding-right: 1ex;
    background-color: #eeeeef;
}

div#footer {
    clear: both;
    font-size: 80%;
    text-align: center;
    background-color: #eeeeef;
}

div#header {
    padding-left: 130px;
}

div#header, div#header h1 a, div#header h1 a:active, div#header h1 {
    margin: 0px;
    background: #14263e;
    color: #eeeeef;
    text-decoration: none;
}

div#content {
    float: left;
    margin: 0 -31ex 0 0;
    width: 100%;
}

div#innercontent {
    background: #eeeeef;
    margin-right: 31ex;
    margin-top: 0px;
}

div#innercontent h3 {
    margin-top: 0px;
}

div.post div.header {
    border: 1px solid #333432;
    background: #d3d7cf;
    padding: 5px;
}

div.post div.header h4 {
    margin-top: 0px;
}

div.post div.title {
    float: left;
}

div.post div.posterinfo {
    float: right;
    text-align: right;
    width: 250px;
}
div.post div.posterinfo p {
    margin: 0px;
}

div.post div.posterinfo div.gravatar {
    float: right;
}

div.screenshot {
    float: left;
    margin-right: 5px;
}

div.post div.content {
    margin-bottom: 1em;
    padding: 5px;
}

ul.xoxo {
    list-style-type: none;
}

div#sidebar * img {
    float: right;
}


div#login-info {
    font-size: 80%;
    text-align: right;
}

div#login-info a, div#login-info a:active {
    color: #76c2c9;
    padding-right: 5px;
}

div#login-info * p {
    margin-bottom: 0px;
}

input.openid {
    background: url("http://media.ircious.flukkost.nu/login-bg.gif")  #eeeeef no-repeat;
    background-position: 0 50%;
    padding-left: 18px;
}

#error {
    background: #ffcccc;
    border: 1px solid #dd2222;
    padding: 3px;
}

.clear {
    clear: both;
}
/* SVG styles */
.not-selected {
    fill: #c4a000;
    stroke: #362c00;
    stroke-width: 1;
    cursor: pointer;
}
.selected {
    fill: #fce94f;
    stroke: #494317;
    stroke-width: 1;
    cursor: pointer;
}
